<!DOCTYPE html>
<html lang="en">
<head>
	<%= require ('html-loader!./layout/head-common.html') %>
	<title>Remeber Me记忆力训练网站</title>	
</head>
<body>
	<%= require ('html-loader!./layout/nav.html') %>
	<%= require ('html-loader!./layout/header.html') %>
	<div class="banner-con">
               <div class="banner-txt">
               </div>
    </div>
	
	<div class="w">
            <div class="floor-wrap">
                <h1 class="floor-title">推荐路径</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="list.html?categoryId=100001">
                            
                            <img class="floor-img" src="<%= require('../image/content-2.jpg') %>" alt="基础训练" />
                        	<span class="floor-text">基础训练</span>
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="list.html?categoryId=100002">
                            <span class="floor-text">进阶训练</span>
                            <img class="floor-img" src="<%= require('../image/content-3.jpg') %>" alt="进阶训练" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="list.html?categoryId=100003">
                            <span class="floor-text">小学语文</span>
                            <img class="floor-img" src="<%= require('../image/content-1.jpg') %>" alt="小学语文" />
                        </a>
                    </li>

                </ul>
            </div>
            

    </div>
    <div class="w">
        
        <div class="content-box">
        <h1>关于Remeber Me</h1>
        <div class="content-txt">
        <p>RememberMe-记忆力训练网站，是一个为小学阶段学生提供记忆力训练的平台，它将宫殿记忆法等诸多科学记忆方法与小学课本相结合，通过大量图片力求让枯燥课文记忆变得容易、简单、有趣。目的是提升孩子的记忆效率，从而减少部分繁复的作业时间。</p><p>技术上运用了目前比较成熟的Spring+Spring MVC+MyBatis框架，并运用阿里云对象存储技术，将图片存储与服务器分离，同时通过目前比较流行的webpack技术将前端页面模块化加载，以此达到提升加载速度的目的。</p>
        </div>
        
        </div>

    </div>
    <div class="w">
            <div class="floor-wrap">
                <h1 class="floor-title">推荐课程</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="detail.html?productId=28">
                            
                            <img class="floor-img" src="<%= require('../image/course/1.jpg') %>" alt="数字密码1" />
                            <span class="floor-text">数字密码1</span>
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="detail.html?productId=29">
                            <span class="floor-text">数字密码2</span>
                            <img class="floor-img" src="<%= require('../image/course/2.jpg') %>" alt="数字密码2" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="detail.html?productId=30">
                            <span class="floor-text">π的故事1</span>
                            <img class="floor-img" src="<%= require('../image/course/3.jpg') %>" alt="π的故事1" />
                        </a>
                    </li>

                </ul>
            </div>
            

    </div>

	<%= require ('html-loader!./layout/footer.html') %>

</body>
</html>
