<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> ——Remeber Me</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">Remember Me</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        

        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="page-wrap">
                <div class="page-title">
                        <span>大话宫殿记忆法</span>

                        </div>
                <div class="intro-wrap">
                    <div class="intro-text">
                        选择你的宫殿
<p>首先和首要的，你需要选择一个你非常熟悉的地方。本技巧的有效性取决于你在脑海中轻易地再现这个地方并在其中漫步的能力。你必须仅仅用你精神的“眼睛”就能身临其境。</p>
<p>举例，一个较好的初步选择可以是你的家。请记住，你对这个地方的细节的再现越鲜明，你就能越有效地记忆。
其次，试着在你的宫殿里确定一条特别的路线，而不只是再现静止的场景。也就是说，想象对你家做一次详尽的巡视，而不只是简单地把你家图像化。就像我们将在下一步骤中看到的，这会大大增强本技巧的效果，如果你能按照确定的次序回想起物品的话。
对记忆宫殿的选择，这里还有一些行之有效的推荐，以及可以采取的路线：
你所在城市的熟悉的道路。可能的路线比如你开车上班经过的，或其他你熟悉的街道的顺序。
现在或者以前的学校。你可以想象从教室到图书馆的道路（或者是去街对面的酒吧，如果那让你铭记于心的话）。
工作场所。想象从你的隔间到咖啡机，或者到你老板的办公室（这不难选吧）。
风景。想象在附近一带散步或者你在公园里慢跑的路线。</p>
列出明显的特征物
<p>现在你需要注意所选场所里的明显的特征物。举例，如果你选择巡视你的家，大门应该是第一个引起注意的特征物。
继续在你的记忆宫殿里做虚拟漫步。进门之后，第一个房间里有什么？
系统地分解这个房间（你可以确定一个标准程序，比如总是从左看到右）。什么是下一个引起你注意的特征物？可以是餐厅中间的桌子，或者是墙上的一张画。</p>
<p>一边走一边继续在头脑中记录其他的特征物。它们中的每一个都将成为一个“记忆槽”，等下你就可以用来储存一个特定的信息。
把宫殿牢牢印在脑中
要让这个方法有效，最重要的就是要让这个地方或者路线百分之百地印在你的头脑中。尽你所能去记住它。如果你是擅长形象思维的人，这应该不难。如果不是，这里有一些能帮上忙的窍门：
按照路线亲身走上一遍，当你看见那些明显的特征物时，大声地重复。
在纸上写下选择的特征物，在脑中巡视它们，并大声重复。
总是从同样的视角观看那些特征物。</p>
<p>你得明白形象思维是一种技能。如果你仍然感到困难，你可能要先去提高你的形象思维能力。
当你相信你已经成功了，再反复几次。对你的记忆宫殿来说，“大量练习”你的路线是非常重要的。
只要你自信已将路线深深印在你的头脑中，你就算准备好了。你已经拥有你的宫殿，它将可以反复用于记住任何你要记住的东西。</p>
                    </div>
                    
                        
                </div>
    
            </div>
            
        
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>