<div class="footer">
    <div class="w_f">
    	<div class="w_l">
    		<img src="../../image/logo.png"><span>超越自我，成就美好未来</span>
    	</div>
        <div class="links w_r">
            <a class="link" href="http://dasai.ruc.edu.cn/" target="_blank">大赛官网</a> |
            <a class="link" href="https://github.com/HaochengLEE/RememberMe" target="_blank">项目github</a> 
            
        </div>

        
    </div>
</div>
<div class="copyright">
            Copyright © 2018 yunyungeek.com All Right Reserved
        </div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>