<div class="nav-side">
	<div class="nav-side-box">
		<a href="./news.html"><img src="../../image/ncn1.jpg"></a>


	</div>
	<div class="nav-side-box">
		<a href="./list.html"><img src="../../image/ncn2.png"></a>


	</div>
	<div class="nav-side-box side-box">
		<span class="nav-side-title">课程分类</span>
		<ul class="side-box-ul">
			<li><a href="./list.html?categoryId=100001">基础课程</a></li>
			<li><a href="./list.html?categoryId=100002">进阶课程</a></li>
			<li><a href="./list.html?categoryId=100003">同步课程</a></li>
		</ul>	


	</div>
	
</div>