<div class="nav">
	<div class="w">
        <div class="logo fl"><a href="./index.html"><img src="../../image/logo.png" ></a></div>
		<div class="user-info fr">
			 <span class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </span>
		</div>
		

	</div>
</div>